{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
{{ knp_menu_render('show_category') }}

<div class="example-wrapper">
    <h1>Category #{{ category.id }}</h1>

    {% if category.parent %}
        <div class="alert alert-secondary">
            Parent category: #{{ category.parent.id }} <a href="{{ path('category.show', {id: category.parent.id}) }}">{{ category.parent.name }}</a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-warning">
                {{ form(account_form) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="alert alert-primary">
                {% if category.accounts.count > 0 %}
                    <ul style="margin-bottom: 0;" class="list-group">
                        {% for account in category.accounts %}
                            <li class="list-group-item">
                                {{ account.login }}:{{ account.password }}
                                <a href="{{ path('accounts.show', {id: account.id}) }}" class="btn-primary btn-sm float-right">show</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-danger" style="margin-top: 15px;">0 accounts created.</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-primary">
                <h5>Create new</h5>
                {{ form(fields_form) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="alert alert-secondary">
                <h5>Account fields</h5>

                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Variables</th>
                            <th class="text-center">Required</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if category.parentFields|length > 0 %}
                            <tr class="text-center bg-primary" style="color: white; opacity: .7"><td colspan="6">Parent attributes</td></tr>

                            {% for field in category.parentFields %}
                                <tr>
                                    <td>{{ field.id }}</td>
                                    <td>{{ field.name }}</td>
                                    <td>{{ field.type }}</td>
                                    <td>{{ field.variables|join("<br>")|raw }}</td>
                                    <td class="text-center">
                                        {% if field.required %}
                                            <span class="badge badge-success">Yes</span>
                                        {% else %}
                                            <span class="badge badge-secondary">No</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="btn btn-success">asd</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}


                        {% if category.ownFields|length > 0 %}
                            <tr class="text-center bg-primary" style="color: white; opacity: .7"><td colspan="6">Own attributes</td></tr>

                            {% for field in category.ownFields %}
                                <tr>
                                    <td>{{ field.id }}</td>
                                    <td>{{ field.name }}</td>
                                    <td>{{ field.type }}</td>
                                    <td>{{ field.variables|join("<br>")|raw }}</td>
                                    <td class="text-center">
                                        {% if field.required %}
                                            <span class="badge badge-success">Yes</span>
                                        {% else %}
                                            <span class="badge badge-secondary">No</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="btn btn-success">asd</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('categories') }}">Categories List</a>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $field_type_input = $('#field_type')
        var $field_variables = $('#field_variables_raw')

        $field_variables.parent('.form-group').hide()

        $field_type_input.change(function() {
            if($field_type_input.val() === 'select') {
                $field_variables.parent('.form-group').show()
            } else {
                $field_variables.parent('.form-group').hide()
            }
        })
    </script>
{% endblock %}
