{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
{{ knp_menu_render('show_category') }}
<div class="example-wrapper">
    <h1>Category #{{ category.id }}
        <a target="_blank" class="btn btn-primary float-right" href="{{ path('category.accounts.export', {
            id: category.id,
            type: 'simple'
        }) }}">Simple export</a>
        <a target="_blank" class="btn btn-success float-right" href="{{ path('category.accounts.export', {
            id: category.id,
            type: 'csv'
        }) }}">Export to CSV</a>
    </h1>

    {% if category.parent %}
        <div class="alert alert-secondary">
            Parent category: #{{ category.parent.id }} <a href="{{ path('category.show', {id: category.parent.id}) }}">{{ category.parent.name }}</a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <div class="">
                {% if accounts.count > 0 %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Login</th>
                            <th>Password</th>
                            {% for field in category.allFields %}
                                <th style="width: 5%">{{ field.name }}</th>
                            {% endfor %}
                            <th></th></tr>
                        </thead>

                        <tbody>
                        {% for account in accounts %}
                            <tr>
                                <td>{{ account.id }}</td>
                                <td>{{ account.login }}</td>
                                <td>{{ account.password }}</td>

                                {% for field in category.allFields %}
                                    <td>{{ account.fieldValue(field.id)|length > 20 and account.fieldValue(field.id)|split(' ')|length < 2 ? account.fieldValue(field.id)|slice(0, 20) ~ '...' : account.fieldValue(field.id) }}</td>
                                {% endfor %}

                                <td class="text-center">
                                    <a href="{{ path('accounts.show', {id: account.id}) }}" class="btn-primary btn-sm float-right">show</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-danger" style="margin-top: 15px;">0 accounts created.</div>
                {% endif %}

                <div class="row text-center" style="margin-top: 20px;">
                    <div class="col-md-12 text-center">
                        <ul class="pagination text-center">
                            {{ knp_pagination_render(accounts) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="alert alert-warning">
                {{ form(account_form) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-primary">
                <h5>Create new</h5>
                {{ form(fields_form) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="alert alert-secondary">
                <h5>Account fields</h5>

                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Variables</th>
                            <th class="text-center">Required</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% if category.parentFields|length > 0 %}
                                {% include 'accounts/_fields.html.html.twig' with {
                                    title: 'Parent attributes',
                                    fields: category.parentFields
                                } %}
                            {% endif %}

                            {% if category.ownFields|length > 0 %}
                                {% include 'accounts/_fields.html.html.twig' with {
                                    title: 'Own attributes',
                                    fields: category.ownFields
                                } %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('categories') }}">Categories List</a>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $field_type_input = $('#field_type')
        var $field_variables = $('#field_variables_raw')

        $field_variables.parent('.form-group').hide()

        $field_type_input.change(function() {
            if($field_type_input.val() === 'select') {
                $field_variables.parent('.form-group').show()
            } else {
                $field_variables.parent('.form-group').hide()
            }
        })

        $('.delete-entity').click(function (e) {
            $el = $(this);

            e.preventDefault();

            console.log($el.data('url'))
        })
    </script>
{% endblock %}
